<h1>Link</h1>

<ul>

  <li>
    <strong>Original:</strong>
    <a href={@link.original}><%= @link.original %></a>
  </li>

  <li>
    <% short = full_short_link(@link.short) %>
    <strong>Short:</strong>
    <a href={short}><%= short %></a>
  </li>

  <li>
    <strong>Views:</strong>
    <%= @link.view_count %>
  </li>

</ul>

<span><%= link "Back", to: Routes.link_path(@conn, :index) %></span>
