/*********************************/
/* Common: body and header */
/*********************************/

body {
  background-image: url(/images/bg.png);
  background-color: #CFE0D6;
  color: #485e52;
}

body > header {
  background: none;
  border-bottom: none;
}

body > header > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

body > header nav > a {
  display: inline-block;
}

.navbar-home img {
  width: 25px;
  vertical-align: bottom;
}

ul { list-style: none; }

a { color: #0019d9; }

/*********************************/
/* Link creation */
/*********************************/
form input[type=text], form input[type=url],
form input[type=email], form input[type=password] {
  background-color: white;
}

form label .optional {
  font-weight: normal;
  opacity: .7;
}

form input.link-short {
  max-width: 380px;
}

main .alert {
  opacity: 0;
  animation: alert-fade-in .5s cubic-bezier(.54,1.85,.5,1) forwards;
  animation-delay: .5s;
}

main .alert-info {
  color: #485e52;
  background-color: #aac7b7;
  border-color: #485e52;
}

@keyframes alert-fade-in{
  from {
    transform: translateY(-25%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
