/*********************************/
/* Common: body and header */
/*********************************/

body {
  background-image: url(/images/bg.png);
  background-color: #CFE0D6;
  color: #485e52;
}

ul { list-style: none; }

a { color: #0019d9; }

body > header {
  background: none;
  border-bottom: none;
  margin-top: 2rem;
}

body > header > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

body > header nav > a {
  display: inline-block;
}

.navbar-home img {
  width: 25px;
  vertical-align: bottom;
}



/*********************************/
/* Nav User Dropdown */
/*********************************/

.user-menu {
  position: relative;
  justify-self: end;
}

.user-menu svg {
  vertical-align: bottom;
  cursor: pointer;
}
.user-menu svg:hover {
  fill: #354BEB;
}

.user-menu .dropdown {
  position: absolute;
  right: 0;
  z-index: 99;
  overflow: hidden;
  background: white;
  margin: 0;
  border: 1px solid lightgray;
  border-radius: 4px;
  min-width: 175px;
  margin-top: 1rem;
}

.user-menu .dropdown li {
  text-align: left;
  padding: 0px;
}
.user-menu .dropdown li.email {
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
}
.user-menu .dropdown li a {
  padding: 10px 20px;
  color: #485e52;
}

.user-menu .dropdown a:hover {
  background-color: #CFE0D6;
  color: #485e52;
}


/*********************************/
/* Link creation */
/*********************************/
form input[type=text], form input[type=url],
form input[type=email], form input[type=password] {
  background-color: white;
}

form label .optional {
  font-weight: normal;
  opacity: .7;
}

form input.link-short {
  max-width: 380px;
}

main .alert {
  opacity: 0;
  animation: alert-fade-in .5s cubic-bezier(.54,1.85,.5,1) forwards;
  animation-delay: .5s;
}

main .alert-info {
  color: #485e52;
  background-color: #aac7b7;
  border-color: #485e52;
}

@keyframes alert-fade-in{
  from {
    transform: translateY(-25%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*********************************/
/* My Links */
/*********************************/

.my-links li {
  border-left: 4px solid navy;
  padding-left: 20px;
  margin-bottom: 3rem;
}

.my-links li p {
  margin-bottom: 0;
  overflow-wrap: break-word;
}
